spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:db;DB_CLOSE_DELAY=-1
    username: bpms
    password: password

ceph:
  bucket: bucketName

digital-document-service:
  url: http://localhost:1111